<?xml version="1.0"?>
<RuleSet xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Name="Rules.ruleset" Description="" ToolsVersion="1">
  <Rules AnalyzerId="CodeTiger.CodeAnalysis" RuleNamespace="CodeTiger.CodeAnalysis">
    <Rule Id="CT1000" Action="None" />
    <Rule Id="CT1001" Action="None" />
    <Rule Id="CT1002" Action="None" />
    <Rule Id="CT1003" Action="None" />
    <Rule Id="CT1004" Action="None" />
    <Rule Id="CT1005" Action="None" />
    <Rule Id="CT1006" Action="None" />
    <Rule Id="CT1007" Action="None" />
    <Rule Id="CT1008" Action="None" />
    <Rule Id="CT1011" Action="None" />
    <Rule Id="CT1012" Action="None" />
    <Rule Id="CT1013" Action="None" />
    <Rule Id="CT1014" Action="None" />
    <Rule Id="CT1019" Action="None" />
    <Rule Id="CT1020" Action="None" />
    <Rule Id="CT1501" Action="None" />
    <Rule Id="CT1505" Action="None" />
    <Rule Id="CT1701" Action="None" />
    <Rule Id="CT1702" Action="None" />
    <Rule Id="CT1703" Action="None" />
    <Rule Id="CT1704" Action="None" />
    <Rule Id="CT1705" Action="None" />
    <Rule Id="CT1706" Action="None" />
    <Rule Id="CT1707" Action="None" />
    <Rule Id="CT1708" Action="None" />
    <Rule Id="CT1709" Action="None" />
    <Rule Id="CT1710" Action="None" />
    <Rule Id="CT1711" Action="None" />
    <Rule Id="CT1712" Action="None" />
    <Rule Id="CT1713" Action="None" />
    <Rule Id="CT1714" Action="None" />
    <Rule Id="CT1715" Action="None" />
    <Rule Id="CT1716" Action="None" />
    <Rule Id="CT1717" Action="None" />
    <Rule Id="CT1718" Action="None" />
    <Rule Id="CT1719" Action="None" />
    <Rule Id="CT1720" Action="None" />
    <Rule Id="CT1721" Action="None" />
    <Rule Id="CT1722" Action="None" />
    <Rule Id="CT1723" Action="None" />
    <Rule Id="CT1724" Action="None" />
    <Rule Id="CT1725" Action="None" />
    <Rule Id="CT1726" Action="None" />
    <Rule Id="CT1727" Action="None" />
    <Rule Id="CT1728" Action="None" />
    <Rule Id="CT1729" Action="None" />
    <Rule Id="CT1730" Action="None" />
    <Rule Id="CT1800" Action="None" />
    <Rule Id="CT1801" Action="None" />
    <Rule Id="CT1802" Action="None" />
    <Rule Id="CT1803" Action="None" />
    <Rule Id="CT2000" Action="None" />
    <Rule Id="CT2001" Action="None" />
    <Rule Id="CT2002" Action="None" />
    <Rule Id="CT2003" Action="None" />
    <Rule Id="CT2004" Action="None" />
    <Rule Id="CT2005" Action="None" />
    <Rule Id="CT2006" Action="None" />
    <Rule Id="CT2007" Action="None" />
    <Rule Id="CT2008" Action="None" />
    <Rule Id="CT2009" Action="None" />
    <Rule Id="CT2010" Action="None" />
    <Rule Id="CT2200" Action="None" />
    <Rule Id="CT2201" Action="None" />
    <Rule Id="CT2202" Action="None" />
    <Rule Id="CT2203" Action="None" />
    <Rule Id="CT2208" Action="None" />
    <Rule Id="CT3000" Action="None" />
    <Rule Id="CT3001" Action="None" />
    <Rule Id="CT3002" Action="None" />
    <Rule Id="CT3100" Action="None" />
    <Rule Id="CT3101" Action="None" />
    <Rule Id="CT3102" Action="None" />
    <Rule Id="CT3103" Action="None" />
    <Rule Id="CT3104" Action="None" />
    <Rule Id="CT3105" Action="None" />
    <Rule Id="CT3106" Action="None" />
    <Rule Id="CT3107" Action="None" />
    <Rule Id="CT3108" Action="None" />
    <Rule Id="CT3109" Action="None" />
    <Rule Id="CT3113" Action="None" />
    <Rule Id="CT3114" Action="None" />
    <Rule Id="CT3200" Action="None" />
    <Rule Id="CT3201" Action="None" />
    <Rule Id="CT3202" Action="None" />
    <Rule Id="CT3203" Action="None" />
    <Rule Id="CT3204" Action="None" />
    <Rule Id="CT3205" Action="None" />
    <Rule Id="CT3206" Action="None" />
    <Rule Id="CT3207" Action="None" />
    <Rule Id="CT3208" Action="None" />
    <Rule Id="CT3209" Action="None" />
    <Rule Id="CT3210" Action="None" />
    <Rule Id="CT3211" Action="None" />
    <Rule Id="CT3212" Action="None" />
    <Rule Id="CT3213" Action="None" />
    <Rule Id="CT3214" Action="None" />
    <Rule Id="CT3215" Action="None" />
    <Rule Id="CT3216" Action="None" />
    <Rule Id="CT3217" Action="None" />
    <Rule Id="CT3218" Action="None" />
    <Rule Id="CT3500" Action="None" />
    <Rule Id="CT3501" Action="None" />
    <Rule Id="CT3502" Action="None" />
    <Rule Id="CT3503" Action="None" />
    <Rule Id="CT3504" Action="None" />
    <Rule Id="CT3505" Action="None" />
    <Rule Id="CT3506" Action="None" />
    <Rule Id="CT3507" Action="None" />
    <Rule Id="CT3508" Action="None" />
    <Rule Id="CT3509" Action="None" />
    <Rule Id="CT3510" Action="None" />
    <Rule Id="CT3511" Action="None" />
    <Rule Id="CT3512" Action="None" />
    <Rule Id="CT3513" Action="None" />
    <Rule Id="CT3514" Action="None" />
    <Rule Id="CT3515" Action="None" />
    <Rule Id="CT3516" Action="None" />
    <Rule Id="CT3517" Action="None" />
    <Rule Id="CT3518" Action="None" />
    <Rule Id="CT3519" Action="None" />
    <Rule Id="CT3520" Action="None" />
    <Rule Id="CT3521" Action="None" />
    <Rule Id="CT3522" Action="None" />
    <Rule Id="CT3523" Action="None" />
    <Rule Id="CT3524" Action="None" />
    <Rule Id="CT3525" Action="None" />
    <Rule Id="CT3526" Action="None" />
    <Rule Id="CT3527" Action="None" />
    <Rule Id="CT3528" Action="None" />
    <Rule Id="CT3529" Action="None" />
    <Rule Id="CT3530" Action="None" />
    <Rule Id="CT3531" Action="None" />
    <Rule Id="CT3532" Action="None" />
    <Rule Id="CT3533" Action="None" />
    <Rule Id="CT3534" Action="None" />
    <Rule Id="CT3535" Action="None" />
    <Rule Id="CT3536" Action="None" />
    <Rule Id="CT3537" Action="None" />
    <Rule Id="CT3538" Action="None" />
    <Rule Id="CT3539" Action="None" />
    <Rule Id="CT3540" Action="None" />
    <Rule Id="CT3600" Action="None" />
    <Rule Id="CT3601" Action="None" />
  </Rules>
  <Rules AnalyzerId="CustomCodeStyleRules" RuleNamespace="CustomCodeStyleRules">
    <Rule Id="CIDE0007" Action="None" />
  </Rules>
  <Rules AnalyzerId="Jubjubnest.Style.DotNet" RuleNamespace="Jubjubnest.Style.DotNet">
    <Rule Id="Jubjubnest_BaseConstructorCallToClosingLine" Action="None" />
    <Rule Id="Jubjubnest_BaseConstructorCallToNextLine" Action="None" />
    <Rule Id="Jubjubnest_BracesOnTheirOwnLine" Action="None" />
    <Rule Id="Jubjubnest_ClosingParameterParenthesesOnTheirOwnLines" Action="None" />
    <Rule Id="Jubjubnest_CommentedSegments" Action="None" />
    <Rule Id="Jubjubnest_CommentStartsWithSpace" Action="None" />
    <Rule Id="Jubjubnest_DoubleTabContinuationIndent" Action="None" />
    <Rule Id="Jubjubnest_IndentWithTabs" Action="None" />
    <Rule Id="Jubjubnest_KeepLinesWithin120Characters" Action="None" />
    <Rule Id="Jubjubnest_NameConstantsWithCamelCase" Action="None" />
    <Rule Id="Jubjubnest_NameEnumValuesWithPascalCase" Action="None" />
    <Rule Id="Jubjubnest_NameEventsWithPascalCase" Action="None" />
    <Rule Id="Jubjubnest_NameExceptionsWithExceptionSuffix" Action="None" />
    <Rule Id="Jubjubnest_NameFieldsWithCamelCase" Action="None" />
    <Rule Id="Jubjubnest_NameFilesAccordingToTypeNames" Action="None" />
    <Rule Id="Jubjubnest_NameFoldersAccordingToNamespaces" Action="None" />
    <Rule Id="Jubjubnest_NameInterfacesWithIPrefix" Action="None" />
    <Rule Id="Jubjubnest_NameMethodsWithPascalCasing" Action="None" />
    <Rule Id="Jubjubnest_NameNamespacesWithPascalCasing" Action="None" />
    <Rule Id="Jubjubnest_NamePrefixedNamesWithDescriptiveName" Action="None" />
    <Rule Id="Jubjubnest_NamePropertiesWithPascalCase" Action="None" />
    <Rule Id="Jubjubnest_NameReadOnlyFieldsWithCamelCase" Action="None" />
    <Rule Id="Jubjubnest_NameTypeParameterWithTPrefix" Action="None" />
    <Rule Id="Jubjubnest_NameTypesWithPascalCasing" Action="None" />
    <Rule Id="Jubjubnest_NameVariablesWithCamelCase" Action="None" />
    <Rule Id="Jubjubnest_NewlineBeforeComment" Action="None" />
    <Rule Id="Jubjubnest_NoTrailingWhitespace" Action="None" />
    <Rule Id="Jubjubnest_ParametersOnTheirOwnLines" Action="None" />
    <Rule Id="Jubjubnest_SpacesBeforeTrailingComment" Action="None" />
    <Rule Id="Jubjubnest_SpacesNotWithinBrackets" Action="None" />
    <Rule Id="Jubjubnest_SpacesWithinBrackets" Action="None" />
    <Rule Id="Jubjubnest_UseWindowsLineEnding" Action="None" />
    <Rule Id="Jubjubnest_XmlDocumentAllMethodParams" Action="None" />
    <Rule Id="Jubjubnest_XmlDocumentationNoEmptyContent" Action="None" />
    <Rule Id="Jubjubnest_XmlDocumentationNoMismatchedParam" Action="None" />
    <Rule Id="Jubjubnest_XmlDocumentEverythingWithSummary" Action="None" />
    <Rule Id="Jubjubnest_XmlDocumentReturnValues" Action="None" />
    <Rule Id="Jubjubnest_XmlEnableDocumentationGeneration" Action="None" />
    <Rule Id="Jubjubnest_XmlNoMultipleParamsWithSameName" Action="None" />
    <Rule Id="Jubjubnest_XmlNoMultipleXmlDocumentationSegments" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CodeStyle" RuleNamespace="Microsoft.CodeAnalysis.CodeStyle">
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0070" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.CodeStyle" RuleNamespace="Microsoft.CodeAnalysis.CSharp.CodeStyle">
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0005_gen" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0035" Action="None" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0039" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0042" Action="None" />
    <Rule Id="IDE0043" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0048" Action="None" />
    <Rule Id="IDE0051" Action="None" />
    <Rule Id="IDE0052" Action="None" />
    <Rule Id="IDE0054" Action="None" />
    <Rule Id="IDE0055" Action="None" />
    <Rule Id="IDE0056" Action="None" />
    <Rule Id="IDE0057" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0059" Action="None" />
    <Rule Id="IDE0060" Action="None" />
    <Rule Id="IDE0061" Action="None" />
    <Rule Id="IDE0062" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE0064" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0066" Action="None" />
    <Rule Id="IDE0071" Action="None" />
    <Rule Id="IDE0072" Action="None" />
    <Rule Id="IDE0073" Action="None" />
    <Rule Id="IDE0074" Action="None" />
    <Rule Id="IDE0075" Action="None" />
    <Rule Id="IDE0076" Action="None" />
    <Rule Id="IDE0077" Action="None" />
    <Rule Id="IDE0078" Action="None" />
    <Rule Id="IDE0079" Action="None" />
    <Rule Id="IDE0080" Action="None" />
    <Rule Id="IDE0082" Action="None" />
    <Rule Id="IDE0083" Action="None" />
    <Rule Id="IDE0090" Action="None" />
    <Rule Id="IDE0100" Action="None" />
    <Rule Id="IDE0110" Action="None" />
    <Rule Id="IDE0120" Action="None" />
    <Rule Id="IDE0130" Action="None" />
    <Rule Id="IDE0150" Action="None" />
    <Rule Id="IDE0160" Action="None" />
    <Rule Id="IDE0161" Action="None" />
    <Rule Id="IDE0170" Action="None" />
    <Rule Id="IDE0180" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE2000" Action="None" />
    <Rule Id="IDE2001" Action="None" />
    <Rule Id="IDE2002" Action="None" />
    <Rule Id="IDE2003" Action="None" />
    <Rule Id="IDE2004" Action="None" />
    <Rule Id="RemoveUnnecessaryImportsFixable" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1045" Action="None" />
    <Rule Id="CA1046" Action="None" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1066" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1069" Action="None" />
    <Rule Id="CA1070" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1508" Action="None" />
    <Rule Id="CA1509" Action="None" />
    <Rule Id="CA1700" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2011" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA2245" Action="None" />
    <Rule Id="CA2246" Action="None" />
    <Rule Id="CA9998" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Unity.Analyzers" RuleNamespace="Microsoft.Unity.Analyzers">
    <Rule Id="UNT0001" Action="Error" />
    <Rule Id="UNT0002" Action="Error" />
    <Rule Id="UNT0003" Action="Error" />
    <Rule Id="UNT0004" Action="Error" />
    <Rule Id="UNT0005" Action="Error" />
    <Rule Id="UNT0006" Action="Error" />
    <Rule Id="UNT0007" Action="Error" />
    <Rule Id="UNT0008" Action="Error" />
    <Rule Id="UNT0009" Action="Error" />
    <Rule Id="UNT0010" Action="Error" />
    <Rule Id="UNT0011" Action="Error" />
    <Rule Id="UNT0012" Action="Error" />
    <Rule Id="UNT0013" Action="Error" />
    <Rule Id="UNT0014" Action="Error" />
    <Rule Id="UNT0015" Action="Error" />
    <Rule Id="UNT0016" Action="Error" />
    <Rule Id="UNT0017" Action="Error" />
    <Rule Id="UNT0018" Action="Error" />
    <Rule Id="UNT0019" Action="Error" />
    <Rule Id="UNT0020" Action="Error" />
    <Rule Id="UNT0021" Action="Error" />
    <Rule Id="UNT0022" Action="Error" />
    <Rule Id="UNT0023" Action="Error" />
    <Rule Id="UNT0024" Action="Error" />
    <Rule Id="UNT0025" Action="Error" />
    <Rule Id="UNT0026" Action="Error" />
    <Rule Id="UNT0027" Action="Error" />
    <Rule Id="UNT0028" Action="Error" />
    <Rule Id="UNT0029" Action="Error" />
    <Rule Id="UNT0030" Action="Error" />
    <Rule Id="UNT0031" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleChecker" RuleNamespace="StyleChecker">
    <Rule Id="AssignmentToParameter" Action="None" />
    <Rule Id="ByteOrderMark" Action="None" />
    <Rule Id="DiscardingReturnValue" Action="None" />
    <Rule Id="EmptyArrayCreation" Action="None" />
    <Rule Id="EqualsNull" Action="None" />
    <Rule Id="IneffectiveReadByte" Action="None" />
    <Rule Id="InvalidConfig" Action="None" />
    <Rule Id="IsNull" Action="None" />
    <Rule Id="LongLine" Action="None" />
    <Rule Id="NoDocumentation" Action="None" />
    <Rule Id="NoSingleSpaceAfterTripleSlash" Action="None" />
    <Rule Id="NoSpaceAfterSemicolon" Action="None" />
    <Rule Id="NotDesignedForExtension" Action="None" />
    <Rule Id="NotOneShotInitialization" Action="None" />
    <Rule Id="PostIncrement" Action="None" />
    <Rule Id="RedundantTypedArrayCreation" Action="None" />
    <Rule Id="SingleTypeParameter" Action="None" />
    <Rule Id="SpaceBeforeSemicolon" Action="None" />
    <Rule Id="StaticGenericClass" Action="None" />
    <Rule Id="StinkyBooleanExpression" Action="None" />
    <Rule Id="StrayText" Action="None" />
    <Rule Id="ThoughtlessName" Action="None" />
    <Rule Id="TypeClassParameter" Action="None" />
    <Rule Id="Underscore" Action="None" />
    <Rule Id="UninitializedLocalVariable" Action="None" />
    <Rule Id="UnnecessaryUsing" Action="None" />
    <Rule Id="UnusedUsing" Action="None" />
    <Rule Id="UnusedVariable" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="None" />
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1001" Action="None" />
    <Rule Id="SA1002" Action="None" />
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1004" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1006" Action="None" />
    <Rule Id="SA1007" Action="None" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1010" Action="None" />
    <Rule Id="SA1011" Action="None" />
    <Rule Id="SA1012" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1014" Action="None" />
    <Rule Id="SA1015" Action="None" />
    <Rule Id="SA1016" Action="None" />
    <Rule Id="SA1017" Action="None" />
    <Rule Id="SA1018" Action="None" />
    <Rule Id="SA1019" Action="None" />
    <Rule Id="SA1020" Action="None" />
    <Rule Id="SA1021" Action="None" />
    <Rule Id="SA1022" Action="None" />
    <Rule Id="SA1023" Action="None" />
    <Rule Id="SA1024" Action="None" />
    <Rule Id="SA1025" Action="None" />
    <Rule Id="SA1026" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="None" />
    <Rule Id="SA1103" Action="None" />
    <Rule Id="SA1104" Action="None" />
    <Rule Id="SA1105" Action="None" />
    <Rule Id="SA1106" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1109" Action="None" />
    <Rule Id="SA1110" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1112" Action="None" />
    <Rule Id="SA1113" Action="None" />
    <Rule Id="SA1114" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="None" />
    <Rule Id="SA1119_p" Action="None" />
    <Rule Id="SA1120" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1125" Action="None" />
    <Rule Id="SA1126" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1130" Action="None" />
    <Rule Id="SA1131" Action="None" />
    <Rule Id="SA1132" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1134" Action="None" />
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1136" Action="None" />
    <Rule Id="SA1137" Action="None" />
    <Rule Id="SA1139" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1211" Action="None" />
    <Rule Id="SA1212" Action="None" />
    <Rule Id="SA1213" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1217" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1301" Action="None" />
    <Rule Id="SA1302" Action="None" />
    <Rule Id="SA1303" Action="None" />
    <Rule Id="SA1304" Action="None" />
    <Rule Id="SA1305" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1307" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1312" Action="None" />
    <Rule Id="SA1313" Action="None" />
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1403" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1406" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1409" Action="None" />
    <Rule Id="SA1410" Action="None" />
    <Rule Id="SA1411" Action="None" />
    <Rule Id="SA1412" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1506" Action="None" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1509" Action="None" />
    <Rule Id="SA1510" Action="None" />
    <Rule Id="SA1511" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1517" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1520" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1603" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1628" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1630" Action="None" />
    <Rule Id="SA1631" Action="None" />
    <Rule Id="SA1632" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1639" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1644" Action="None" />
    <Rule Id="SA1645" Action="None" />
    <Rule Id="SA1646" Action="None" />
    <Rule Id="SA1647" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1650" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SX1101" Action="None" />
    <Rule Id="SX1309" Action="None" />
    <Rule Id="SX1309S" Action="None" />
  </Rules>
</RuleSet>